body, h1 {
  font-family: "Raleway", sans-serif; }

* {
  margin: 0;
  padding: 0; }

.menu {
  display: flex;
  background: linear-gradient(90deg, #252D3D 1.51%, #465269 98.99%);
  height: 70px;
  align-items: center;
  flex-direction: column;
  justify-content: center; }
  @media (max-width: 1200px) {
    .menu {
      max-width: 100%; } }
  @media (max-width: 992px) {
    .menu {
      max-width: 100%; } }
  .menu nav {
    font-size: 18px;
    line-height: 20px;
    font-family: Roboto Mono,monospace;
    text-transform: uppercase;
    font-weight: 700; }
    @media (max-width: 1200px) {
      .menu nav {
        font-size: 18px; } }
    @media (max-width: 992px) {
      .menu nav {
        font-size: 16px;
        line-height: 20px;
        font-family: Roboto Mono,monospace;
        text-transform: uppercase;
        font-weight: 700; } }
    .menu nav ul {
      display: flex;
      list-style: none;
      align-items: center;
      justify-content: space-between; }
      .menu nav ul li {
        display: flex;
        list-style: none;
        padding-right: 80px; }
        .menu nav ul li a {
          text-decoration: none;
          cursor: pointer;
          color: gray; }

.content {
  background: linear-gradient(90deg, #252D3D 1.51%, #465269 98.99%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 15px; }
  @media (max-width: 1200px) {
    .content {
      max-width: 100%; } }
  @media (max-width: 992px) {
    .content {
      max-width: 100%; } }
  @media (max-width: 768px) {
    .content {
      max-width: 100%; } }

.profile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%; }
  @media (max-width: 1200px) {
    .profile {
      max-width: 100%; } }
  @media (max-width: 992pxpx) {
    .profile {
      max-width: 100%; } }
  @media (max-width: 768px) {
    .profile {
      max-width: 100%; } }

.profile__img {
  position: relative;
  width: 15%;
  height: 380px;
  top: 60px;
  margin-left: 220px;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  align-items: center; }
  @media (max-width: 1200px) {
    .profile__img {
      padding: 0 0;
      width: 25%;
      margin-left: 200px; } }
  @media (max-width: 1000px) {
    .profile__img {
      max-width: 100%;
      display: none; }
      .profile__img img {
        display: none; } }
  @media (max-width: 768px) {
    .profile__img {
      max-width: 100%; } }
  .profile__img img {
    border-radius: 5px;
    box-shadow: 0 0 27px rgba(96, 96, 96, 0.34);
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    width: 322px;
    height: 380px; }

.profile__info {
  color: white;
  margin: 2em 0 0 4em;
  padding: 0 0 0 70px; }
  @media (max-width: 1200px) {
    .profile__info {
      width: 100%;
      padding: 0 0 0 14px; } }
  @media (max-width: 1000px) {
    .profile__info {
      max-width: 100%;
      padding: 28px 80px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start; } }
  @media (max-width: 768px) {
    .profile__info {
      max-width: 100%; } }
  .profile__info ul {
    list-style-type: none; }
  .profile__info__name {
    font-size: 32px;
    line-height: 0px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 48px; }
    @media (max-width: 1200px) {
      .profile__info__name {
        font-size: 24px;
        margin: 0 0 35px 0; } }
  .profile__info__work {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 40px; }
    @media (max-width: 1200px) {
      .profile__info__work {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 32px; } }
  .profile__info__contact {
    margin-bottom: 20px; }
  .profile__info__social {
    margin-bottom: 35px; }
    .profile__info__social a {
      transition: all .3s;
      position: relative;
      text-decoration: none;
      cursor: pointer;
      font-size: 24px;
      margin-right: 15px;
      opacity: .4;
      color: #fff !important; }

.contacts__list {
  font-size: 16px;
  line-height: 24px;
  font-family: Roboto Mono,monospace; }
  .contacts__list dt {
    opacity: .4;
    float: left;
    font-weight: 700;
    text-transform: uppercase; }
  .contacts__list dd {
    padding-left: 100px;
    margin-bottom: 15px; }
  .contacts__list a {
    transition: all .3s;
    position: relative;
    text-decoration: none;
    cursor: pointer; }

.descriptions {
  display: flex;
  background: #252D3D;
  height: 485px;
  width: 100%; }
  @media (max-width: 1200px) {
    .descriptions {
      max-width: 100%; } }
  @media (max-width: 1000px) {
    .descriptions {
      max-width: 100%;
      height: 100%; } }
  @media (max-width: 768px) {
    .descriptions {
      max-width: 100%;
      height: 100%; } }
  .descriptions__informations {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #fff;
    margin: 0 0 0 230px; }
    @media (max-width: 1000px) {
      .descriptions__informations {
        max-width: 100%;
        margin: 126px; } }
    .descriptions__informations p {
      font-weight: 500;
      font-size: 33px; }
      @media (max-width: 1000px) {
        .descriptions__informations p {
          font-weight: 400;
          font-size: 28px; } }
      .descriptions__informations p h1 {
        font-size: 55px;
        margin-bottom: 39px; }
      .descriptions__informations p b {
        color: black; }


/*# sourceMappingURL=styles.chunk.css.map*/