* {
  margin: 0;
  padding: 0; }

.menu___1A-oB {
  display: flex;
  background: linear-gradient(90deg, #252D3D 1.51%, #465269 98.99%);
  width: 100%;
  height: 70px;
  top: 0;
  margin-left: -15px;
  padding-right: 15px;
  flex-direction: row;
  align-items: center; }
  .menu___1A-oB nav {
    font-size: 18px;
    line-height: 20px;
    font-family: Roboto Mono,monospace;
    text-transform: uppercase;
    font-weight: 700; }
    .menu___1A-oB nav ul {
      margin: 0;
      list-style-type: none; }
      .menu___1A-oB nav ul li {
        display: inline-block; }
        .menu___1A-oB nav ul li a {
          padding-right: 80px;
          left: 300px;
          position: relative;
          text-decoration: none;
          cursor: pointer;
          color: gray; }

.content___jjEJ5 {
  background: linear-gradient(90deg, #252D3D 1.51%, #465269 98.99%);
  width: 100%;
  height: 400px;
  top: 60px;
  margin-bottom: 40px;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: -15px;
  margin-left: -15px; }

.profile___3hpHJ {
  display: flex;
  flex-direction: row;
  width: 100%; }

.profile__img___2o6-n {
  position: relative;
  width: 15%;
  height: 380px;
  top: 60px;
  margin-left: 220px;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  align-items: center; }
  .profile__img___2o6-n img {
    border-radius: 5px;
    box-shadow: 0 0 27px rgba(96, 96, 96, 0.34);
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    width: 322px;
    height: 380px; }

.profile__info___34gEJ {
  color: white;
  margin: 2em 0 0 4em;
  position: relative; }
  .profile__info___34gEJ ul {
    list-style-type: none; }
  .profile__info__name___2x6MI {
    font-size: 36px;
    line-height: 0px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 48px; }
  .profile__info__work___1XbrG {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 40px; }
  .profile__info__contact___XNpmm {
    margin-bottom: 20px; }
  .profile__info__social___3g1P8 {
    margin-bottom: 35px; }
    .profile__info__social___3g1P8 a {
      transition: all .3s;
      position: relative;
      text-decoration: none;
      cursor: pointer;
      font-size: 24px;
      margin-right: 15px;
      opacity: .4;
      color: #fff !important; }

.contacts__list___1EA5y {
  font-size: 16px;
  line-height: 24px;
  font-family: Roboto Mono,monospace; }
  .contacts__list___1EA5y dt {
    opacity: .4;
    float: left;
    font-weight: 700;
    text-transform: uppercase; }
  .contacts__list___1EA5y dd {
    padding-left: 100px;
    margin-bottom: 15px; }
  .contacts__list___1EA5y a {
    transition: all .3s;
    position: relative;
    text-decoration: none;
    cursor: pointer; }

.descriptions___1aWbj {
  display: flex;
  background: #252D3D;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .descriptions__informations___2Jiiz {
    color: #fff; }
    .descriptions__informations___2Jiiz h1 {
      font-size: 55px;
      margin: 0 0 44px 0; }
    .descriptions__informations___2Jiiz p {
      font-weight: 500;
      font-size: 33px; }
      .descriptions__informations___2Jiiz p b {
        color: black; }


/*# sourceMappingURL=styles.chunk.css.map*/