[{:title ["My December dumps. Studying in Public stuffs I did, read or watched this month."], :id #uuid "ad519884-a448-4622-a100-3ce64518f590", :date ["2023-12-27"], :tags ["#blog, #[[Links to Read or Watch]]"], :href "./posts/links-watching-reading-from-december.html"} {:title ["Building a blog with clojure and clojurescript"], :id #uuid "b609e39f-4bd4-4179-a380-f8e993f71290", :date ["2023-12-23"], :tags ["clojure, clojurescript, blog, berry"], :href "./posts/first-post.html"}]