[{:title ["Building a blog with clojure and clojurescript"], :id #uuid "3989f7b3-89d6-4a05-b3da-4f3fdaf5fd14", :date ["2023-12-23"], :tags ["clojure, clojurescript, blog, berry"], :href "./posts/first-post.html"} {:title ["Everything I read and watch January"], :id #uuid "a21d9f43-6dcc-4740-a96c-bc31194e769d", :date ["2024-01-29"], :tags ["#study-topics, #algorithms, #distribute-systems"], :href "./posts/studying-january.html"} {:title ["My December dumps. Studying in Public stuffs I did, read or watched this month."], :id #uuid "05a16af6-facb-4961-80a1-9004dc4a5754", :date ["2023-12-27"], :tags ["#blog, #[[Links to Read or Watch]]"], :href "./posts/links-watching-reading-from-december.html"} {:title ["Everything I read and watch January"], :id #uuid "582d2c31-40f7-4057-ae5c-68c49cc58529", :date ["2024-01-29"], :tags ["#blog, #watched"], :href "./posts/jan-dumps.html"}]