[{:title ["My December dumps. Studyin in Public stuffs I did, read or watched this month."], :id #uuid "338ef872-6715-4aa1-9594-78ce01a1b56b", :date ["2023-12-27"], :tags ["#blog, #[[Links to Read or Watch]]"], :href "./posts/links-watching-reading-from-december.html"} {:title ["Building a blog with clojure and clojurescript"], :id #uuid "6e638776-00c5-4f23-a9e6-97fdd8a424de", :date ["2023-12-23"], :tags ["clojure, clojurescript, blog, berry"], :href "./posts/first-post.html"}]